<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        ariaCurrentWhenActive="page"
        >HomePage</a
      >
    </li>
    <li>
      <a
        routerLink="/singup"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Signup</a
      >
    </li>
    <li>
      <a
        routerLink="/login"
        routerLinkActive="inactive"
        ariaCurrentWhenActive="page"
        >Login</a
      >
    </li>
    <li>
      <a routerLink="/create-party" ariaCurrentWhenActive="page"
        >Create Party</a
      >
    </li>
    <li>
      <a routerLink="/join-party" ariaCurrentWhenActive="page">Join Party</a>
    </li>
  </ul>
</nav>
