<div class="surface-card p-4 shadow-2 border-round w-full md:w-6 mx-auto mt-6">
  <div class="text-center mb-5">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span
        style="background-color: #ccc; padding: 24px; display: inline-block"
        class="mb-2"
        >Logo</span
      >
    </a>
    <div class="text-900 text-3xl font-medium mb-3">Welcome back</div>
    <span class="text-600 font-medium line-height-3"
      >Dont have an account?</span
    >
    <a routerLink="/user/signup" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
      >Sign Up</a
    >
  </div>

  <div>
    <form
      class="flex flex-column gap-2"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="email1" class="block text-900 font-medium mb-2"
          >Email</label
        >
        <input
          id="email1"
          type="text"
          pInputText
          class="w-full"
          formControlName="email"
        />
        <small
          *ngIf="email?.dirty && (email?.errors?.['email'] || email?.errors?.['required'])"
          id="username-help"
          class="p-error"
          >Email is required</small
        >
      </div>
      <div>
        <label for="password1" class="block text-900 font-medium mb-2"
          >Password</label
        >
        <input
          id="password1"
          type="password"
          pInputText
          class="w-full"
          formControlName="password"
        />
        <small
          *ngIf="password?.dirty && (password?.errors?.['required'] || password?.errors?.['minlength'])"
          id="password-help"
          class="p-error"
          >Password is required and must be at least 6 characters.</small
        >
      </div>
      <p-message *ngIf="loginError" severity="error" [text]="loginError!"></p-message>
      <button
        type="submit"
        [disabled]="!signInForm.valid"
        pButton
        label="Log in"
        icon="pi pi-user"
        class="w-full mt-4"
        [loading]="isLogin"
      ></button>
    </form>
  </div>
</div>
